@using Projeto_Lab.Controllers;
@model IEnumerable<Projeto_Lab.Models.Restaurante>

@{
    ViewData["Title"] = "ListaRestaurantes";
}

<h1>Lista dos Restaurantes</h1>

<table class="table table-borderless">
    @*<thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Localizacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    Email
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Foto)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Horario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DiaDesc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoServico)
                </th>

                <th></th>
            </tr>
        </thead>*@
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @*<td>
            <a style="text-decoration:none; color:black" asp-action="VerMaisInfo" asp-controller="Home" asp-route-id="@item.IdR"> @Html.DisplayFor(modelItem => item.Nome)</a>
        </td>*@
            <td>
                <div style="position:relative; padding:10px;">
                    <div style="position:absolute">
                        <a style="text-decoration:none; color:black; position:relative; font-size:20px; " asp-action="VerMaisInfo" asp-controller="Home" asp-route-id="@item.IdR"> @Html.DisplayFor(modelItem => item.Nome)</a>
                    </div>
                    <div>
                        <a style="position:relative; top:30px;" asp-action="VerMaisInfo" asp-controller="Home" asp-route-id="@item.IdR"><img style="border-radius:10%; box-shadow:2px 2px 4px grey;" src="~/Imagens/Registos/Restaurantes/@Html.DisplayFor(modelItem => item.Foto)" height="70" /></a>
                    </div>
                </div>
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Localizacao)
        </td>*@
            @*<td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdRNavigation.Email)
        </td>*@
            @*<td>
            <a asp-action="VerMaisInfo" asp-controller="Home" asp-route-id="@item.IdR"><img src="~/Imagens/Registos/Restaurantes/@Html.DisplayFor(modelItem => item.Foto)" height="50" /></a>
        </td>*@

            @*<td>
            @Html.DisplayFor(modelItem => item.Horario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoServico)
        </td>*@
            <td>
                @*<a asp-action="VerPrato" asp-controller="Home" asp-route-id="@item.IdR">Prato do Dia</a>*@

                @*@if(UtilizadorsController.Cliente(Context))
            {
            <a asp-action = "AdicionarRestFav" >| Adicionar aos Favoritos</a >
            }*@

                @*<a asp-action="VerMaisInfo" asp-controller="Home" asp-route-id="@item.IdR">Ver Mais</a>*@
            </td>
        </tr>
        }
    </tbody>
</table>

<div style="position:absolute; bottom:75px; width:80%">
    <a asp-action="Index" asp-controller="Home">Voltar à página Inicial</a>
</div>
